@inject States states
@inject VarStyles varStyles
@inject IRefreshService RefreshService

<MudPaper Class="backModal">
    <MudContainer Class="p-0 m-0 fixed-bottom d-flex mw-100 mh-100 bottomMenu" Style="height:477px;width:384px; bottom: 30px; box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 2px;">
        <MudContainer Class="menuHeader">
            <MudImage Src="img/DogeProfile.jpg" Width="42" Height="42" Style="margin-right: 5px; border-radius: 3px; border: 2px solid rgba(222, 222, 222, 0.8);"> </MudImage>
            <span Style="font-size: 14px; font-weight: 700; text-shadow:rgba(0, 0, 0, 0.7) 1px 1px;">Leandro Toloza</span>
        </MudContainer>
        <MudContainer Class="menuBody">
            <MudContainer Class="menuLeft">
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/internet_explorer.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span class="menuItemTitle">
                            Internet
                        </span>
                        <span class="menuItemSubText">
                            Internet Explorer
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/email.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span class="menuItemTitle">
                            E-mail
                        </span>
                        <span class="menuItemSubText">
                            Contact Me
                        </span>
                    </div>
                </MudItem>
                @*Separator*@
                <MudItem Style=" height: 7.5px;background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%) content-box;border-top: 3px solid transparent;border-bottom: 3px solid transparent;"></MudItem>
                <MudItem Class="menuLeftItem">
                    <MudImage Src="img/notepad.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Notepad
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/paint.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Paint
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/windows_media_player.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Windows Media Player
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/messenger.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Windows Messenger
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuLeftItem container">
                    <MudImage Src="img/buscaminas.png" Class="menuItemImage"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Minesweeper
                        </span>
                    </div>
                </MudItem>
                <MudSpacer />
                <MudItem Style=" height: 7.5px;background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%) content-box;border-top: 3px solid transparent;border-bottom: 3px solid transparent;"></MudItem>
                <MudItem Class="menuLeftItem container" Style="height:24px !important;">
                    <div class="menuItemTexts">
                        <div style="display:flex;align-items:center; font-weight:700;margin-left:35px;font-size:12px">
                                All Programs
                            <MudImage Src="img/arrow.ico" Style="margin-left: 5px;height: 18px;"></MudImage>
                        </div>
                    </div>
                </MudItem>
            </MudContainer>
            <MudContainer Class="menuRight">
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/documents.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span style="font-weight: 700;">
                            My Documents
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/recent_documents.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span style="font-weight: 700;">
                            My Recent Documents
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/pictures.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span style="font-weight: 700;">
                            My Pictures
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/music.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span style="font-weight: 700;">
                            My Music
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/pc.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span style="font-weight: 700;">
                            My Computer
                        </span>
                    </div>
                </MudItem>
                @*Separator*@
                <MudItem Style="height: 7.5px;background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(135, 179, 226, 0.71) 50%, rgba(0, 0, 0, 0) 100%) content-box;border-top: 3px solid transparent; border-bottom: 3px solid transparent;" />
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/control_panel.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Control Panel
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/windows_tick.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Set Program Access and Defaults
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/connect.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Connect To
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/printer.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Printers and Faxes
                        </span>
                    </div>
                </MudItem>
                <MudItem Style=" background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(135, 179, 226, 0.71) 50%, rgba(0, 0, 0, 0) 100%) content-box;height: 7.5px;border-top: 3px solid transparent;border-bottom: 3px solid transparent;" />
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/question.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Help and Support
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/search.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Search
                        </span>
                    </div>
                </MudItem>
                <MudItem Class="menuRightItemTop container">
                    <MudImage Src="img/run.png" Class="menuRightItemTopImg"></MudImage>
                    <div class="menuItemTexts">
                        <span>
                            Run...
                        </span>
                    </div>
                </MudItem>
            </MudContainer>
        </MudContainer>
        <MudContainer Class="menuFooter">
            <MudItem @onclick="OpenLogOffModal" Class="menuFooterItem">
                <MudImage Src="img/close_session.png" Class="menuFooterItemImage"></MudImage>
                <span>Log Off</span>
            </MudItem>
            <MudItem Class="menuFooterItem">
                <MudImage Src="img/turn_off.png" Class="menuFooterItemImage"></MudImage>
                <span>Shut Down</span>
            </MudItem>
        </MudContainer>
    </MudContainer>
</MudPaper>
<style>
    .backModal {
        animation: @varStyles.DynamicAnimation;
        -webkit-animation: @varStyles.DynamicAnimation;
    } 
</style>
@code {
    void OpenLogOffModal(MouseEventArgs e)
    {
        states.ShowMenu = false;
        states.ShowModalUser = true;
        varStyles.DynamicAnimation = "5s ease 0s 1 normal forwards running bodyGrayKeyframe";
        RefreshService.CallRequestRefresh();
        StateHasChanged();
    }
}
