@page "/"
@inject MenuState menuState
@inject IRefreshService RefreshService


<PageTitle>Index</PageTitle>
<MudContainer Style="min-height: 96vh !important" @onclick="CloseMenu">
    <h1>Hello, world!</h1>
</MudContainer>
@if (menuState.ShowMenu == true)
{
    <FooterMenu></FooterMenu>
}
<Footer></Footer>

@code {
    void CloseMenu(MouseEventArgs e)
    {
        menuState.ShowMenu = false;
        RefreshService.CallRequestRefresh();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        menuState.ShowMenu = false;
        RefreshService.RefreshRequested += StateHasChanged;
    }
}